<% include ../partials/header %>
<div class="container">
    <div class="container">
            <header class="jumbotron">
                    <h1>Welcome To Yelpcamp</h1>
                    <p>Selected World Class Campgrounds</p>
                    <p >
                            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
                    </p>
                </header>
    </div>
        <div class="row text-center" style="display:flex;flex-wrap:wrap;">
                <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            
                            <img src="<%= campground.image %>" >
                            <div class="caption">
                                <h3><%= campground.name %></h3>
                            </div>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-sm">Details</a>
                            </p>
                        </div>
                        
                        
                    </div>
                        
                    
                <% }); %>
                
                <a href="/">Go to Campgrounds</a>
        </div>
        
</div>


<% include ../partials/footer %>